<%= error_messages_for 'client' %>

<div class="box">
  <p>
    <%= f.text_field 'name', :label=>l(:field_client_name) -%>
  </p>
  <p>
    <%= f.text_field 'support_hours', :label=>l(:field_support_hours) -%>
  </p>
  <p>
    <%= f.text_field 'deploy_ips', :label=>l(:field_client_ips) -%>
  </p>
</div>

